.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    padding-top: 20px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box .parrafo2{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover{
   color: #2978cb; 
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:1024px) {
    
    .pie-pagina{
        width: 100%;
        margin-top: 29%;
    }

}

@media screen and (max-width:800px){

    .pie-pagina{
        width: 100%;
    }

    .pie-pagina .grupo-1{
       
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:360px) {
    .pie-pagina{
        width: 100%;
        padding: 20px;
    }

    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:375px) {
    .pie-pagina{
        width: 100%;
        padding: 20px;
    }

    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }

}

@media screen and (max-width:412px) {
    .pie-pagina{
        width: 100%;
        margin-top: 69vh;
        padding: 20px;
    }

    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }

}

@media screen and (max-width:768px) {
    .pie-pagina{
        width: 100%;
        margin-top: 10vh;
        padding: 20px;
    }

    .pie-pagina .grupo-1{
       
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }

}