* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contend {
    display: flex;
    width: 800px;
    height: 90vh;
    align-items: center;
    margin: auto;

}

.contend-image {
    width: 400px;
    height: 700px;
    display: flex;
    align-items: center;
    background: lightgrey;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px 0px 0px 5px;

}

.contend-image img {
    width: 400px;
    height: 400px;
}

.form-register {
    width: 400px;
    height: 700px;
    background: lightblue;
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px 5px 5px 0px;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.controls {
    width: 100%;
    /*background: ;*/
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

}

.area {
    width: 100%;
    height: 20%;
    resize: none;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.botons {
    width: 200px;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 3px;
}

.botons:hover {
    transform: scale(1.1);
}

.cont-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-checkbox a {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.checkbox {
    text-align: center;
    font-size: 14px;
    transition: all 0.5;
}

.checkbox:checked+.text-checkbox {
    color: white;
}


.text-checkbox {
    font-size: 14px;
    margin: 0px 3px 0px 3px;
    color: black;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.5;
}

.text-ini {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-register a {
    color: rgb(40, 112, 112);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.form-register a:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
}


.form-register .botons {
    width: 100%;
    background: #638ce6;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.form-register .botons:hover {
    width: 100%;
    background: #638ce6;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 798px) {
    .contend {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 1px;
        width: 400px;
    }

    .contend-image {
        width: 400px;
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: lightgrey;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;

    }

    .contend-image img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
    }

    .form-register {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 700px;
        background: lightblue;
        padding: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        color: white;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }


}