*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    
}

.header{
    background-color: #f3f3f3;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 1800px;
    margin: 0 auto;
   
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    padding: 0 40px;
    line-height: 80px;
    width: 290px;
    transition: all 0.5s;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
}

.nav-menu-link:hover{
    background-color: #2978cb;
    color: white;
    padding: 10px 20px;
}

.nav-toggle{
    color: #2978cb;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;  
}



@media screen and (max-width: 788px) {
    body{
        padding-top: 70px;
    }

    .header{ 
        height: 60px;
    }
    
    
    .logo{
        padding: 0 20px;
        width: 190px;
        line-height: 60px;
        height: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: rgb(218, 218, 218);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.5s;
    }
    
    .nav-menu-item{
        line-height: 60px;
    }
    
    
    .nav-menu-link:hover{
        background: none;
        color: #2978cb;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0%;
    }

    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }
}
