.cartelera{
    position: inherit;
    margin-top: 85px;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    gap: 5px;
}


.tabla1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 2/3;
    background-color: aqua;

}

.tabla2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 3/4;
    background-color: blue;
}

.tabla3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 4/5;
    background-color: chocolate;
}

@media screen and (max-width: 1060px) {
    .cartelera{
        grid-template-columns: 100%;
        height: calc(20vh - 50px);
        margin-top: 80px;
    }

    .tabla1{
        grid-column: 1/2;
    }

    .tabla2{
        grid-column: 1/2;
    }

    .tabla3{
        grid-column: 1/2;
    }
}

@media screen and (max-width: 768px) {
    .cartelera{
        margin-top: 10px;
    }

}